@import ../variables/breakpoints

.is-hidden,
.is-hidden-until-large,
.is-hidden-until-wide,
.is-hidden-until-full
	display: none !important

@media(min-width: $tiny)

	.is-hidden-small,
	.is-hidden-medium,
	.is-hidden-large,
	.is-hidden-wide,
	.is-hidden-until-full
		display: block !important

	.is-hidden-tiny,
	.is-hidden-tiny-forward,
	.is-hidden-until-large,
	.is-hidden-until-wide,
	.is-hidden-until-full
		display: none !important

@media(min-width: $small)

	.is-hidden-tiny,
	.is-hidden-medium,
	.is-hidden-large,
	.is-hidden-wide
		display: block !important

	.is-hidden-small,
	.is-hidden-small-forward,
	.is-hidden-until-large,
	.is-hidden-until-wide,
	.is-hidden-until-full
		display: none !important

@media(min-width: $medium)

	.is-hidden-tiny,
	.is-hidden-small,
	.is-hidden-large,
	.is-hidden-wide
		display: block !important

	.is-hidden-medium,
	.is-hidden-medium-forward,
	.is-hidden-until-large,
	.is-hidden-until-wide,
	.is-hidden-until-full
		display: none !important

@media(min-width: $large)

	.is-hidden-tiny,
	.is-hidden-small,
	.is-hidden-medium,
	.is-hidden-wide,
	.is-hidden-until-large
		display: flex !important

	.is-hidden-large,
	.is-hidden-large-forward,
	.is-hidden-until-wide,
	.is-hidden-until-full
		display: none !important

@media(min-width: $wide)

	.is-hidden-tiny,
	.is-hidden-small,
	.is-hidden-medium,
	.is-hidden-large,
	.is-hidden-until-wide
		display: block !important

	.is-hidden-until-large
		display: flex !important

	.is-hidden-wide,
	.is-hidden-wide-forward
		display: none !important

@media(min-width: $full)
	.is-hidden-until-full
		display: block !important

	.is-hidden-full-forward
		display: none !important
