<template>
    <section class="container ___index">

        <h1 class="main-title">Encontre o seu país!</h1>

        <input type="search" class="filter" v-model="filter" placeholder="Nome do País">

        <div class="columns is-mobile is-multiline is-variable">

            <template v-if="list.length">

                <div
                    v-for="(item, index) in list" :key="index"
                    class="column is-3-desktop is-6-tablet is-12-mobile"
                >
                    <Card
                        :src="item.src"
                        :titleContent="item.titleContent"
                        :capitalContent="item.capitalContent"
                    />
                </div>

            </template>

            <template v-else>
                <div class="column is-12">
                    <label>Nenhum país encontrado.</label>
                </div>
            </template>

        </div>
    </section>
</template>

<script>
import { Card } from '@/components';

export default {
    name: 'Home',
    mixins: {},
    components: { Card },
    props: {},
    data() {
        return {
            filter: null,
            list: [],
            items: [
                {
                    src: '/images/holanda.jpg',
                    titleContent: 'Holanda',
                    capitalContent: 'Amsterdã',
                },
                {
                    src: '/images/inglaterra.jpg',
                    titleContent: 'Inglaterra',
                    capitalContent: 'Londres',
                },
                {
                    src: '/images/mexico.jpg',
                    titleContent: 'México',
                    capitalContent: 'Cidade do México',
                },
                {
                    src: '/images/frança.jpg',
                    titleContent: 'França',
                    capitalContent: 'Paris',
                },
                {
                    src: '/images/coreia-do-sul.jpg',
                    titleContent: 'Coréia do Sul',
                    capitalContent: 'Seul',
                },
                {
                    src: '/images/uruguai.jpg',
                    titleContent: 'Uruguai',
                    capitalContent: 'Montevideu',
                },
                {
                    src: '/images/portugal.jpg',
                    titleContent: 'Portugal',
                    capitalContent: 'Lisboa',
                },
                {
                    src: '/images/brasil.jpg',
                    titleContent: 'Brasil',
                    capitalContent: 'Brasília',
                },
                {
                    src: '/images/itália.jpg',
                    titleContent: 'Itália',
                    capitalContent: 'Roma',
                },
                {
                    src: '/images/EUA.jpg',
                    titleContent: 'Estados Unidos',
                    capitalContent: 'Washington',
                },
                {
                    src: '/images/croacia.jpg',
                    titleContent: 'Croácia',
                    capitalContent: 'Zagrebe',
                },
                {
                    src: '/images/china.jpg',
                    titleContent: 'China',
                    capitalContent: 'Pequim',
                },
                {
                    src: '/images/gana.jpg',
                    titleContent: 'Gana',
                    capitalContent: 'Acra',
                },
                {
                    src: '/images/camaroes.jpg',
                    titleContent: 'Camarões',
                    capitalContent: 'Yaoundé',
                },
                {
                    src: '/images/alemanha.jpg',
                    titleContent: 'Alemanha',
                    capitalContent: 'Berlim',
                },
                {
                    src: '/images/argentina.jpg',
                    titleContent: 'Argentina',
                    capitalContent: 'Buenos Aires',
                }
            ]
        };
    },
    watch: {
        filter(value) { this.list = this.filter ? this.filteredList : this.items; },
    },
    computed: {
        filteredList() {
            const exp = new RegExp(this.filter.trim(), 'i');
            return this.items.filter(item => exp.test(item.titleContent));
        },
    },
    methods: {},
    beforeCreate() {},
    created() {},
    beforeMount() {},
    mounted() { this.list = this.items; },
    beforeUpdate() {},
    updated() {},
    beforeDestroy() {},
    destroyed() {}
};
</script>

<style lang="sass" scoped>
.___index
    padding: 50px 0
</style>

<style lang="sass">
.___index
    .filter
        border: 1px solid
        border-radius: 5px
        box-shadow: 0px 0px 10px grey
        margin-bottom: 50px
        padding: 5px 10px
        width: 100%

        @media (min-width: $large)
            width: 50%

    ::-webkit-input-placeholder
        color: $blackFade

    .main-title
        font-size: 40px
        margin-bottom: 50px
</style>
