<template>
    <section class="___card">
        <ul>
            <li>
                <div class="card">
                    <img class="flag" :src="require('@/assets' + src)">
                    <h3 class="country">
                        {{ titleContent }}
                    </h3>
                    <p>Capital:</p>
                    <h4 class="capital">
                        {{ capitalContent }}
                    </h4>
                </div>
            </li>
        </ul>
    </section>
</template>
<script>
export default {
    name: 'Card',
    mixins: {},
    components: {},
    props: {
        capitalContent: String,
        src: String,
        titleContent: String,
    },
    data() {
        return {};
    },
    watch: {},
    computed: {},
    methods: {},
    beforeCreate() {},
    created() {},
    beforeMount() {},
    mounted() {},
    beforeUpdate() {},
    updated() {},
    beforeDestroy() {},
    destroyed() {}
};
</script>
<style lang="sass" scoped>
.___card
    background-color: $white
    border-radius: 12px
    border: 1px solid
    box-shadow: 0px 0px 10px grey
    height: 400px
    margin: auto
    max-width: 100%
    padding: 20px 40px

.___card:hover
    background-color: $whiteFade
    cursor: pointer
    transition: 1s all
</style>
<style lang="sass">
.___card
    .flag
        border-radius: 12px
        box-shadow: 0px 0px 10px grey
        height: 140px
        margin: 20px 0
        width: 100%

        @media(min-width: $wide)
            height: 170px

    .country
        color: $blackFade
        font-size: 35px
        margin-bottom: 20px
    p
        font-size: 18px
        margin-bottom: 5px
    .capital
        color: $blackFade
        font-size: 20px
</style>
