@import ../variables/breakpoints.sass

.container
	padding: 0 1.5rem
	margin: 0 auto
	max-width: 300px
	width: 100%

	@media(min-width: $small)
		max-width: 600px

	@media(min-width: $large)
		max-width: 1640px
