html
  box-sizing: border-box
  scroll-behavior: smooth
 
html, body, #app
	font-family: Arial
	height: 100%

#app
	display: flex
	flex-direction: column
	height: 100%

main
	flex: 1 0 auto

footer
	flex-shrink: 0

*
  &,
  &::before,
  &::after
    box-sizing: inherit

body,figure,h1,h2,h3,h4,h5,h6
	margin: 0
	overflow-x: hidden
li
	list-style: none

a, a:hover
	color: initial
	text-decoration: none

svg
	vertical-align: middle

input,
button
	-webkit-appearance: none

input:focus
    outline: unset

::-moz-placeholder
  opacity: 1
  
ul
	margin: 0
	padding: 0

